.rg_graph .view {
    /*background-color: lightyellow;*/
}

.rg_graph .view .origin {
    fill: black;
    stroke: steelblue;
    stroke-width: 1px;
}

.rg_graph .view .axis {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}

.rg_graph .view .axis:hover {
    stroke: red;
    stroke-width: 3px;
}

.rg_graph .view .label:hover {
    stroke: red;
    /*stroke-width: 3px;*/
}

.rg_graph .view .pts .pt {
    fill: steelblue;
    stroke: none;
    /*stroke-width: 1px;*/
}

.curves .curve {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.curves .curve.selected {
    stroke: green;
    stroke-width: 2px;
}
.curves .curve:hover {
    stroke: red;
    stroke-width: 3px;
}

.curves .curve.highlight {
    stroke: red;
    stroke-width: 3px;
}


.temp_curves  .temp_curve {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
    opacity: 0.5;
}

.temp_curves .temp_curve.selected {
    stroke: green;
    stroke-width: 2px;
}

.temp_curves .temp_curve:hover {
    stroke: red;
    stroke-width: 3px;
}

.temp_curves .temp_curve.highlight {
    stroke: red;
    stroke-width: 3px;
}