.rg_proj .view {
    /*background-color: lightyellow;*/
}

.rg_proj .view .origin {
    fill: black;
    stroke: steelblue;
    stroke-width: 1px;
}

.rg_proj .view .axis {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}

.rg_proj .view .axis:hover {
    stroke: red;
    stroke-width: 3px;
}

.rg_proj .view .label:hover {
    stroke: red;
    /*stroke-width: 3px;*/
}

.rg_proj .view .pts .bg {
    fill: lightgray;
    stroke: none;
    stroke-width: 1px;
}

.rg_proj .view .pts .pt {
    fill: steelblue;
    stroke: none;
    stroke-width: 1px;
}

