* {
    box-sizing: border-box;
}

.rg_details{
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.rg_details .title {
  font-size: 10pt;
}

.rg_details .controls {
  font-size: 10pt;
}

.rg_details .rg_view {
  /* height: 350px; */
  min-height: 0;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 100px auto 10px;
  grid-template-rows:  20px auto 10px;
  grid-gap: 5px 5px;
  grid-template-areas:
   ".     top    ."
   "left  main   right"
   ".     bottom  ."
}

.item {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}

.rg_details .rg_top {
  grid-area: top;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0 0 0 5px;
}

.rg_details .rg_top .rg_col_header {
  width: 100px;
  margin: 0 5px 0 0;
  background-color: lightgreen;
  display: inline-block;
}

.rg_details .rg_left {
  grid-area: left;
  /* max-height: 250px; */
  overflow-y: hidden;
}

.rg_details .rg_right {
  grid-area: right;
  overflow-y: auto;
}

.rg_details .rg_right_scroll {
  /* height: 350px; */
  width: 1px;
}

.rg_details .rg_bottom {
  grid-area: bottom;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 0 5px;
}

.rg_bottom_scroll {
  /* width: 440px; */
  height: 1px;
  /* background-color: lightblue; */
}

.rg_details .rg_plots {
  grid-area: main;
  overflow: hidden;
  position: relative;
}

.rg_row_header {
  height: 100px;
  width: 90px%;
  margin: 0 0 5px 0;
  background-color: lightgreen;
  border: 1px solid gray;
}

.rg_plot {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  background: lightblue;
  position: absolute;
}

.c1 {
  left: 0;
}

.c2 {
  left: 105px;
}

.c3 {
  left: 210px;
}

.c4 {
  left: 315px;
}

.r1 {
  top: 0;
}

.r2 {
  top: 105px;
}

.r3 {
  top: 210px;
}
